.container {
  text-align: center;
  background: linear-gradient(45deg, #2766a1, #110041);
  color: white
}

body{
  min-height: 100vh;
  background: linear-gradient(45deg, #2766a1, #110041);
}

button{
  color: black;
  background-color: transparent;
}

button:hover{
  color: black;
  background-color: white;
}

ul {
  color: black
}
